body{
    background-color: #f5f5f5;
    font-family: 'Poppins',sans-serif;
}
header,footer{
    text-align: center;
    margin: 30px auto 0px auto;
    width: 700px;
}
main{
    margin: 30px auto 0px auto;
    width: 700px;
}
form{
    font-size: 18px;
}